*.mode1v3
*.pbxuser
xcuserdata
xcuserdata/*
*.xcworkspace/*
*.xcworkspace

# build noise
.target_source
Makefile
config.h
config.log
config.status
confdefs.h
conftest.in
conftest.nl
conftest.out
keywordhash.h
lemon
lempar.c
libtool
mkkeywordhash
opcodes.c
opcodes.h
parse.c
parse.h
parse.h.temp
parse.out
parse.y
sqlite3.c
sqlite3.h
sqlite3.pc
tsrc/
